img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  display: block;
}
ul {
  margin: 0;
  margin-inline: unset !important;
  padding: 0;
  list-style: none;
}

.flex-row-center-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.details-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  @media only screen and (max-width: 1050px) {
    flex-direction: column;
    padding: 20px;
  }
}

.headerlogo_one {
  height: 32px;
  width: 126px;
}

.shop {
  color: #777c84 !important;
  font-size: 14px;
  font-weight: 600;
}

.search_one {
  height: 24px;
  width: 24px;
}

.free_shipping {
  height: 54px;
  width: 54px;
}

.fashionshort {
  padding-bottom: 88px;
  gap: 90px;
  background-color: #ffffff;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  @media only screen and (max-width: 1050px) {
    gap: 67px;
    padding-bottom: 20px;
  }

  @media only screen and (max-width: 550px) {
    gap: 45px;
  }
}

.heroheader {
  background-color: #f5f8fa;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.header {
  align-self: stretch;
}

.announcement {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #1b2834;
  display: flex;
  justify-content: center;
}

.offer {
  color: #ffffff !important;
  font-size: 16px;
  font-weight: 400;
  align-self: end;
}

.offer-span {
  color: #ffffff;
}

.offer-span-1 {
  color: #286fe5;
  font-weight: 600;
}

.icon_one {
  height: 24px;
  width: 24px;
  @media only screen and (max-width: 1050px) {
    width: 100%;
  }
}

.header-1 {
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #777c84;
  @media only screen and (max-width: 550px) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.rowhome {
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
}

.home {
  color: #1b2834 !important;
  font-size: 14px;
  font-weight: 600;
}

.rowsearch_one {
  gap: 20px;
  display: flex;
}

.herosection {
  gap: 48px;
  display: flex;
  width: 92%;
  align-items: center;
  @media only screen and (max-width: 1050px) {
    flex-direction: column;
    width: 100%;
    padding: 20px;
  }
}

.details {
  gap: 24px;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: start;
  @media only screen and (max-width: 1050px) {
    align-self: stretch;
  }
}

.enjoy_50off_in {
  color: #1b2834;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  gap: 10px;
  background-color: #ffffff;
  height: 47px;
  min-width: 531px;
  border-radius: 23px;
}

.icon {
  width: 27px;
  height: 27px;
}

.stepinto {
  color: #1b2834 !important;
  font-size: 52px;
  font-weight: 700;
  width: 100%;
  @media only screen and (max-width: 1050px) {
    font-size: 44px;
  }

  @media only screen and (max-width: 550px) {
    font-size: 38px;
  }
}

.description {
  color: #777c84 !important;
  font-size: 18px;
  font-weight: 500;
  width: 100%;
  line-height: 28px;
}

.shop_now {
  color: #ffffff;
  padding-left: 31px;
  padding-right: 31px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  gap: 10px;
  background-color: #1b2834;
  height: 46px;
  min-width: 176px;
  border-radius: 6px;
  @media only screen and (max-width: 550px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.frame {
  width: 24px;
  height: 24px;
}

.closeupportra {
  height: 637px;
  width: 41%;
  object-fit: cover;
  @media only screen and (max-width: 1050px) {
    width: 100%;
  }
}

.columnfree {
  gap: 90px;
  display: flex;
  flex-direction: column;
  @media only screen and (max-width: 1050px) {
    gap: 67px;
    padding: 20px;
  }

  @media only screen and (max-width: 550px) {
    gap: 45px;
  }
}

.partners {
  gap: 134px;
  display: flex;
  @media only screen and (max-width: 1050px) {
    flex-direction: column;
  }
}

.freeshipping {
  gap: 16px;
  display: flex;
  flex: 1;
}

.columnfreeshipp {
  gap: 5px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.freeshipping-1 {
  color: #1b2834 !important;
  font-size: 22px;
  font-weight: 600;
}

.price {
  color: #777c84 !important;
  font-size: 16px;
  font-weight: 500;
}

.listwomen_one {
  gap: 48px;
  display: flex;
  @media only screen and (max-width: 1050px) {
    flex-direction: column;
  }
}

.stackwomen_one {
  height: 485px;
  width: 100%;
  position: relative;
  @media only screen and (max-width: 1050px) {
    height: auto;
  }
}

.women_one {
  height: 485px;
  width: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.women_two {
  color: #ffffff !important;
  letter-spacing: 15px;
  font-size: 30px;
  font-weight: 800;
  position: absolute;
  bottom: 9%;
  right: 0px;
  left: 0px;
  width: max-content;
  margin: auto;
  @media only screen and (max-width: 1050px) {
    font-size: 28px;
  }

  @media only screen and (max-width: 550px) {
    font-size: 26px;
  }
}

.container-xs {
  max-width: 1204px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
